<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ARAF - Home</title>
	<link rel="icon" href="{{url_for('static', filename = 'img/Fevicon.png')}}" type="image/png">
	<link rel="stylesheet" href="{{url_for('static', filename = 'vendors/bootstrap/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'vendors/fontawesome/css/all.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'vendors/themify-icons/themify-icons.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'vendors/nice-select/nice-select.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'vendors/owl-carousel/owl.theme.default.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'vendors/owl-carousel/owl.carousel.min.css')}}">

	<!-- Responsive-->
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/responsive.css')}}">
	<script language="javascript" src="{{url_for('static', filename = 'js/timer.js')}}" type="text/javascript"></script>
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">

	<style type="text/css">
		.edit_button {
			display: block;
			height: 40px;
			width: 100%;
			line-height: 38px !important;
			padding: 0px 38px;
			text-transform: uppercase;
			background: blue;
			margin-left: 10px;
			border-radius: 30px;
			color: #fff;
			font-weight: 500;
			border: none;
			text-align: center;
		}
	</style>
	<script>

		window.onload = function () {
			var dt = new Date();
			var Year = dt.getFullYear();
			var Month = "" + (dt.getMonth() + 1);
			var Day = "" + dt.getDate();
			var TodayPlusAmonth = "" + (dt.getMonth() + 2);

			if (Month.length < 2) Month = "0" + Month;
			if (Day.length < 2) Day = "0" + Day;
			if (TodayPlusAmonth.length < 2) TodayPlusAmonth = "0" + TodayPlusAmonth;


			var todayMin = Year.toString() + '-' + Month + '-' + Day;
			var todayMax = Year.toString() + '-' + Month + '-' + Day;
			var today = Year.toString() + '-' + Month + '-' + Day;
			var DefaultEndDate = Year.toString() + '-' + TodayPlusAmonth + '-' + Day;

			document.getElementById("startdate").max = todayMax;
			document.getElementById("enddate").max = todayMax;
			document.getElementById("enddata").value = today;
			
		}

	</script>
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	<section class="blog-banner-area" id="category">

		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center" style="float:left; font-size: 40px;">
					<b>ARAF</b>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
					</nav>
				</div>
				<div style="float:right">
					<a class="pic" href="/logout" style="margin-right: 1px;">
						<img alt="첨부이미지" class="pic" height="40" width="40" src="{{url_for('static', filename ='img/logout.png')}}" style="margin-right: 1px; margin-top: 10px">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Header Menu Area =================-->
	<!-- ================ start banner area ================= -->
	<section style=" margin-left:100px;">
		<form method="POST" action="/search" style=" margin: auto;">
			<div class="name" style="        margin-top: 10px;
        margin-left: 250px;
">
				타입
				<input class="text" id="search" name="search" type="text" placeholder="제품명 입력" style="
    margin-left: 10px; margin-right: 50px;
">
				기간
				&nbsp<input id="startdate" name="startdate" type="date" max="" value="" style="
                                                width: 200px;
                                                height: 40px;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                                border: 1px solid #999;
                       /                         color: #000000;
                                                padding-left: 20px;
                                                padding-right: 5px;
                                            ">&nbsp&nbsp
				~
				&nbsp&nbsp
				<input id="enddate" name="enddate" type="date" max="" style="
                                                width: 200px;
                                                height: 40px;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                                border: 1px solid #999;
                                                color: #000000;
                                                padding-left: 20px;
                                                padding-right: 5px;
                                            ">
				<button type="submit" value="submit" class="btn btn-secondary" style="background-color: #384aeb; border-color:#384aeb ">
					<i class="fa fa-search"></i>
				</button>
				<p>
					{% if error %}
					<div class=error><strong>{{ error }}</strong></div>
					{% endif %}
				</p>
			</div>





		</form>

	</section>
	<!-- ================ end banner area ================= -->
	<!--================Cart Area =================-->

	<section style="margin:0 auto;">
		<div class="value" style="text-align: center; margin:0 auto;">

			<div class="col-xl-9 col-lg-8 col-md-7" style="margin: 0 auto;">
				<!-- Start Filter Bar -->
				<P style=" color: #384aeb; font-size: 25px; text-align:center;"><b>재고수량</b></P>
				<hr width="800px" color="blue" size="3" style="margin:0 auto;">
				<form method="post" class="form-horizontal" style="margin-top: 30px;">

					<section class="tracking_box_area section-margin--small" style="margin:0 auto;">
						<div class="container">
							<div class="tracking_box_inner" style="margin-left:150px;">
								<table class="sub_news" border='1' cellspacing='0' summary="게시판 글 제목 리스트">

									<colgroup>
										<col width='30'>
										<col width='150'>
										<col width='150'>
										<col width='100'>
										<col width='100'>
										<col width='100'>
										<col width='100'>
										<col width='150'>
									</colgroup>

									<thead style="text-align:center">
										<tr style="width:100%">
											<th scope="col">번호</th>
											<th scope="col" style="width:120px">사진</th>
											<th scope="col">상품명</th>
											<th scope="col">수량</th>

											<th scope="col">날짜</th>
											<th scope="col">시간</th>
											<th scope="col" style="width:150px"></th>
										</tr>
									</thead>
									<tbody>

										{% for product in products %}
										<tr style="width:100%; text-align:center">
											<td>{{product.ID}}</td>
											<td>
												<a class="pic" href="/search"><img src="{{url_for('static', filename = product.img)}}" width="100" height="100" class="pic" alt="첨부이미지"></a>
											</td>
											<td>
												<a style="text-align:center" href="/search" class="p_type">{{product.p_type}}</a>
											</td>
											<td class="count">{{product.count}}</td>
											<td class="date">{{product.date}}</td>
											<td class="date">{{product.time}}</td>
											<td>
												<a type="button" class="sbid_button"
												   onClick="window.open('/view_detail/{{product.ID}}','detail','width=791, height=411, scrollbars=no, resizable=no')" style="color:#ffffff; cursor:pointer">자세히</a>
							
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>

								<!-- 리스트 게시판 끝 -->

							</div>
						</div>
					</section>
					<!--================코드 끝=================-->

				</form>
			</div>
	</section>

	<!--================End Cart Area =================-->
	<!--================ Start footer Area  =================-->
	<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap" style=" color:#ffffff;">
			<p style="margin-left: 2%; margin-right: 2%;">이용약관</p>
			<p>|</p>
			<p style="margin-left: 2%; margin-right: 2%;">안전거래 가이드</p>
			<p>|</p>
			<p style="margin-left: 2%; margin-right: 2%;">전자금융거래 이용약관</p>
			<p>|</p>
			<p style="margin-left: 2%; margin-right: 2%;">개인정보 처리방침</p>
			<p>|</p>
			<p style="margin-left: 2%; margin-right: 2%;">청소년 보호정책</p>
			<p>|</p>
			<p style="margin-left: 2%; margin-right: 2%;">책임의 한계와 법적고지</p>
			<p>|</p>
			<p style="margin-left: 2%;">고객센터</p>
			<p style="margin-left: 10%; color:#706f6f">GETITEM은 통신판매중개자이며, 통신판매의 당사자가 아닙니다.
			  상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있습니다.<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;또한 판매자와 구매자간의 직거래에 대하여 당사는 관여하지 않기 때문에 거래에 대해서는 책임을 지지 않습니다.</p>


		  <p style="margin-left: 15%; margin-right: 2%;">사업자등록번호:123-45-67890</p>
		  <p>|</p>
		  <p style="margin-left: 2%; margin-right: 2%;">통신판매업신고번호:제2020-서울가산-2222호</p>
		  <p>|</p>
		  <p style="margin-left: 2%;" >대표이사:조항정</p>


		<p style="margin-left: 35%;"> 주소 : 서울특별시 금천구 가산동 371-28</p>
		</div>

			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i>GETITEM</a>-->
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	<!--</p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->



	<script src="{{url_for('static', filename = 'vendors/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static', filename = 'vendors/bootstrap/bootstrap.bundle.min.js')}}"></script>
	<script src="{{url_for('static', filename = 'vendors/skrollr.min.js')}}"></script>
	<script src="{{url_for('static', filename = 'vendors/owl-carousel/owl.carousel.min.js')}}"></script>
	<script src="{{url_for('static', filename = 'vendors/nice-select/jquery.nice-select.min.js')}}"></script>
	<script src="{{url_for('static', filename = 'vendors/jquery.ajaxchimp.min.js')}}"></script>
	<script src="{{url_for('static', filename = 'vendors/mail-script.js')}}"></script>
	<script src="{{url_for('static', filename = 'js/main.js')}}"></script>
	<!--====for popup====-->
	

</body>
</html>
