
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<title>입찰자 보기</title>

<head><meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}" type="text/css">
	<link rel="stylesheet" href="{{url_for('static', filename= 'css/common.css')}}" type="text/css">
	<link rel="stylesheet" href="{{url_for('static', filename= 'css/font_list.css')}}" type="text/css">

</head>

<body style="overflow: auto;">

<div style="padding:20px;">
<div align="center" style="padding-top:1">
	<div style=" padding-right:375px; color: #384aeb; font-size: 24px;"><b>입찰자 내역</b></div>
	<hr width = "500px" color = "blue" size = "1">
	<div class="font_19" style="color:black; margin-left:400px; margin-top:30px">입찰자 : {{b_length}}명</div>

	<table cellspacing="0" cellpadding="0" width="500px" style="margin-top:10px;">
		<tr>
			<td style="height:42px; border-top:1px solid #2b2b2b; border-bottom:1px solid #d5d5d5; background-color:#f8f8f8;">
				<table border="0" cellspacing="0" cellpadding="0" width="100%" style="height:30px;">
				<tr>
					<td align="center" class="font_17" width="100" style="color:black;">입찰자</td>
					<td align="center" class="font_17" style="color:black">입찰 제품</td>
					<td align="center" class="font_17" style="width:100px; color:black">입찰 가격</td>
					<td align="center" class="font_17" style="width:140px; color:black">입찰 날짜</td>
				</tr>
				</table>
			</td>
		</tr>
	</table>
	<table width='500px' border='0' cellpadding='0' cellspaing='0' style='border-collapse:collapse;'><tr><td valign=top align=left><table width="100%" height="30"  border="0" cellpadding="0" cellspacing="0"  class="ipchal_bg" >
	
	{% for i in range(b_length) %}
	<tr style="background-color:#BBDEFB";>

	
		<td width="100" align='left' style='height:30px; padding-left:5px; color:black' class="font_12">{{users[i].name}}</td>
		<td align='center' style="color:black;" class="font_12"><strong>{{products[i].title}}</strong></td>
		<td width="100" align='center' style="color:black;" class="font_12">{{bidders[i].my_price}}</td>
		<td width="140" style="color:black;" align="center" class="font_11">{{bidders[i].now_date|datetimeformat}}</td>
	</tr>
	
	{% endfor %}
	<tr>
		<td bgcolor='#eeeeee' height='1' colspan='4'></td>
	</tr>
</table>
</td></tr>
</table>
</div>
</div>
</body>
</html>